<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">admin</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost/doctors</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
<property name="hibernate.hbm2ddl.auto">update</property>
<property name="show_sql">false</property>
<property name="format_sql">true</property>

<!-- entidades >
</!-->
<mapping class="br.com.doctors.modelo.administracao.PerfilUsuario"/>
<mapping class="br.com.doctors.modelo.administracao.Paciente"/>
<mapping class="br.com.doctors.modelo.administracao.Medico"/>
<mapping class="br.com.doctors.modelo.administracao.Funcionario"/>
<mapping class="br.com.doctors.modelo.administracao.Pessoa"/>
<mapping class="br.com.doctors.modelo.consultas.Consulta"/>
<mapping class="br.com.doctors.modelo.consultas.Exame"/>
<mapping class="br.com.doctors.modelo.consultas.Atestado"/>
<mapping class="br.com.doctors.modelo.consultas.Receita"/>
<mapping class="br.com.doctors.modelo.agendamento.Agendamento"/>
<mapping class="br.com.doctors.modelo.administracao.Convenio"/>
<mapping class="br.com.doctors.modelo.util.Notificacao"/>
<mapping class="br.com.doctors.modelo.util.ModeloAtestado"/>
</session-factory>
</hibernate-configuration>